@use "variables" as v;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  text-decoration: none;
  font-size: 20px;

  &.solid {
    background: v.$primary-color;
    color: v.$white;
    border: none;

    &:hover {
      background: v.$primary-hover;
      color: v.$white;
    }
  }

  &.ghost {
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: #111;

    &:hover {
      border-color: v.$primary-hover;
      background: rgba(124, 92, 255, 0.1);
      color: #0e0e0e;
    }
  }
}
